@font-face {
    font-family: handwriting;
    src: url(fonts/KGMakesYouStronger.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/MontserratRegular-BWBEl.ttf);
}

::-webkit-scrollbar {
    display: none;
}

.title {
    font-family: 'Tilt Warp', sans-serif;
    color: #353535;
}

.logo {
    width: 10%;
}

.navbar {
    border: 4px solid #b496a5e5;
}

.nav-font {
    font-family: 'Montserrat', sans-serif;
}

.banner-area-1 {
    background-image: url(images/banner-img.svg);
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.banner-area-1:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f0f0f08c;
    z-index: -1;
}

.banner-area-1 h1 {
    font-family: 'handwriting', sans-serif;
    color: #353535;
}

.slideUp {
    transition: color .3s ease-in-out;
}

.slideUp:hover {
    color: rgb(219, 255, 238);
}

.slideUp {
    animation: slideUp ease .5s forwards 0.05s;
}

.slideUp:nth-child(1) {
    animation-delay: 0s;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.motto {
    margin-top: 15%;
}

@media screen and (max-width: 820px) {
    .motto {
        margin-top: 40vw;
    }
}

@media screen and (max-width: 390px) {
    .motto {
        margin-top: 65vw;
    }
}

.motto-text {
    font-size: 2.5vw;
}

@media screen and (max-width: 820px) {
    .motto-text {
        font-size: 7vw;
    }
}

.content-area {
    width: 100%;
    position: relative;
    background: linear-gradient(-45deg, #f5f2eb, #f0f6fa, #ffebfd);
    background-size: 900% 900%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.tagline {
    font-size: 1.8vw;
    margin: 0 10px 0 10px;
    padding: 3.8vw 14vw 0 14vw;
    line-height: 3vw;
}

@media (max-width: 820px) {
    .tagline {
        font-size: 3.4vw;
        margin: 0;
        padding: 3vw 5vw 0 5vw;
        line-height: 5.5vw;
    }
}

@media (max-width: 390px) {
    .tagline {
        font-size: 4.5vw;
        margin: 0;
        padding: 5vw 3.5vw 0 3.5vw;
        line-height: 5.5vw;
    }
}

@media (min-width: 1629px) {
    .tagline {
        font-size: 35px;
        margin: 0;
        padding: 3.8vw 14vw 0 14vw;
        line-height: 3.5rem;
    }
}

.desc {
    height: 33vh;
    margin-top: 33.35vw;
}

@media (max-width: 820px) {
    .desc {
        height: 20vh;
        margin-top: 107vw;
    }
}

@media (max-width: 390px) {
    .desc {
        height: 20vh;
        margin-top: 173.3vw;
    }
}

.banner-area-2 {
    background-image: url(images/vision-banner.svg);
    background-size: cover;
    background-position: center center;
    height: 738px;
    width: 100%;
    position: relative;
}

.qna-text {
    height: 65vh;
    display: flex;
    padding: 0 5vw 0 5vw;
}

@media (max-width: 820px) {
    .qna-text {
        height: 53vh;
        display: block;
    }
}

.why-lectio {
    padding-top: 6vw;
}

@media (max-width: 390px) {
    .why-lectio {
        padding-top: 16vw;
    }
}

.qna-text h2 {
    font-family: 'Noto Serif JP', serif, sans-serif;
    font-size: 2.778vw;
}

@media (max-width: 820px) {
    .qna-text h2 {
        font-family: 'Noto Serif JP', serif, sans-serif;
        font-size: 6vw;
    }
}

.qna-text h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.458vw;
    padding-top: 2vw;
    line-height: 3vw;
}

@media (max-width: 820px) {
    .qna-text h4 {
        font-size: 3vw;
        padding-top: 3vw;
        line-height: 6vw;
        text-align: center;
    }
}

.typeheader {
    font-family: 'Anonymous Pro', monospace, sans-serif;
}

.lecto-mobile {
    display: none;
}

@media (max-width: 390px) {
    .lecto-mobile {
        display: block;
    }
}

.lecto-card {
    margin: 1.41vw 0 0 3vw;
}

.lecto-pic {
    width: 13vw;
    margin: 0.7vw 0 0 2vw;
    border: 1px hidden;
    border-radius: 2rem;
}

@media (min-width: 1629px) {
    .lecto-pic {
        width: 17vw;
        margin: 1vw 1vw 1vw 1.89vw;
    }
}

.banner-area-3 {
    background-image: url(images/courses-banner.svg);
    background-size: auto;
    background-position: center center;
    height: 674px;
    width: 100%;
    position: relative;
}

.banner-area-3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #00000018;
}

@media (max-width: 390px) {
    .banner-area-3 {
        background-image: url(images/courses-banner-phone.svg);
        background-size: contain;
        background-position: center center;
        height: 250px;
        width: 100%;
        position: relative;
    }

    .banner-area-3:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #00000018;
    }
}

.courses {
    min-height: 70vh;
    min-height: 150rem at max-width of 768px;
    min-height: 170rem at max-width of 420px;
    margin-top: 30vw;
    margin-top: 60vw at max-width of 768px;
}

@media (max-width: 820px) {
    .courses {
        margin-top: 80vw;
    }
}

.course-text {
    font-size: 20pt;
    line-height: 3rem;
    padding-top: 5rem;
}

@media (max-width: 390px) {
    .course-text {
        font-size: 13pt;
        line-height: 3rem;
        padding-top: 3rem;
    }
}

.course-card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    min-height: 350px at max-width of 768px;
    min-height: 300px at max-width of 420px;
}

.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-has-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}


.card-footer {
    background: none;
    border-top: none;

    .media {
        img {
            border: solid 3px rgba(255, 255, 255, 0.3);
        }
    }
}

.card-title {
    font-weight: 800
}

.card-meta {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);


}

&:hover {
    .card-body {
        margin-top: 30px;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgba(245, 189, 245, 0.897);
    background: linear-gradient(0deg, rgba(255, 106, 168, 0.5) 0%, rgba(245, 189, 245, 0.897) 100%);
}

.banner-area-4 {
    background-image: url(images/english-banner.svg);
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.banner-area-4:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f0f0f08c;
    z-index: -1;
}

.banner-area-4 h1 {
    font-family: 'handwriting', sans-serif;
    color: #353535;
}

.modal {
    margin-top: 15vw;
}

.sizer-1{
    width: 44vw;
}

.sizer-2{
    width: 48.8vw;
    height: 27.515vw;
}

@media (max-width: 820px) {
    .sizer-1{
        width: 60vw;
        margin-left: 18vw;
    }
    
    .sizer-2{
        width: 60vw;
        height: 37.518vw;
        margin-top: 10vw;
        margin-left: 18vw;
    }
}

.gallery {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;

}

.footer {
    background-color: #f8f9fa;
    padding: 2.5vw 0;
    text-align: center;
    width: 100%;
}
